<body>
    <h2 style="text-align:center">My Photos</h2>
      <div class="row">
        <div class="column">
          <img class="demo cursor" src="../../assets/bnj.jpg" style="width:100%">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/rara.jpg" style="width:100%">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/barozo.jpg" style="width:100%">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/erika.jpg" style="width:100%">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/games.jpg" style="width:100%">
        </div>    
        <div class="column">
          <img class="demo cursor" src="../../assets/bnj.jpg" style="width:100%">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/ball.jpg" style="width:100%">
        </div>
        <div class="column">
            <img class="demo cursor" src="../../assets/wall.jpg" style="width:100%">
          </div>
          <div class="column">
            <img class="demo cursor" src="../../assets/radiance.jpg" style="width:100%">
          </div>
          <div class="column">
            <img class="demo cursor" src="../../assets/gitara.jfif" style="width:100%">
          </div>
          <div class="column">
            <img class="demo cursor" src="../../assets/gwaps.jpg" style="width:100%">
          </div><div class="column">
            <img class="demo cursor" src="../../assets/jie.jpg" style="width:100%">
          </div>
      </div>
</body>