:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    text-align: center;
    width: 260px;
    background: rgb(158, 170, 175);
}
mat-drawer-container{
    height: 100%;
}