<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>About Me</mat-card-title>
      <mat-card-subtitle>@barozo.benjie</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/rara.jpg" width="100" height="510">
    <mat-card-content>
      <p>
        I'm Benjie S. Barozo, 21 years of age, from Basey, Samar. I'm currently enrolled at Eastern Visayas State University. I love singing but singing doesn't love me. So I quit singing because I think it is not for me, so I decided to explore, and I discovered a lot.
        I love to play online games such as Mobile Legend and Call of Duty.
      </p>
    </mat-card-content>
  </mat-card>