<mat-nav-list>
    <div class="logo py-4">
    </div>
    <mat-divider></mat-divider>
    <li>@benjie.barozo</li>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home</a>
    <a mat-list-item routerLink="/profile" routerLinkActive="list-item-active">
        <mat-icon>face</mat-icon>Profile</a>
    <a mat-list-item routerLink="/contact" routerLinkActive="list-item-active">
        <mat-icon>perm_phone_msg</mat-icon>Contact</a>
    <a mat-list-item routerLink="/gallery" routerLinkActive="list-item-active">
        <mat-icon>perm_media</mat-icon>Gallery</a>
</mat-nav-list>